	<!-- CONTENT -->
<div class="row m-3">
	<div class="col-sm-12">
			<h1> Ajoute un nouveau potin : </h1>
	</div>
</div>

	<div class="row m-3">
		<div class="col-sm-12 col-lg-6 offset-lg-3">
			<%= form_tag("/gossips", method: "post") do %>
		  <%= label_tag(:gossip_title, "Titre:") %>
		  <%= text_field_tag(:gossip_title, "", :class => 'form-control') %>
		  <br>
		  <%= label_tag(:gossip_content, "Contenu:") %>
		  <%= text_area_tag(:gossip_content, "", :class => 'form-control') %>
		  <br>
		  <%= submit_tag("Poster", :class => "btn btn-success") %>

	<%= link_to "Revenir à la liste des potins", gossips_path, :class => 'btn btn-primary' %>
		  </div>
	<% end %>
	</div>
</div>
