<!-- CONTENT -->
<!-- Jumbottron -->
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4"><%=@gossip.title%> </h1>
    <p class="lead">Gossip #<%=@gossip.id%> </p>
  </div>
</div>

<div class="container m-3 d-flex justify-content-center">
	<div class="row">
		<div class="col-sm-12 d-flex justify-content-center m-3">
			<div class="card">
			  <div class="card-header">
			    <%=@gossip.title%>
			  </div>
			  <div class="card-body">
			    <blockquote class="blockquote mb-0">
			      <p><%=@gossip.content%></p>
			      <footer class="blockquote-footer">Balancé par <%= link_to user_path(@gossip.user.id) do%><cite title="Gossip authoe"><%=@gossip.user.first_name%> <%=@gossip.user.last_name%></cite><% end %></footer>
			    </blockquote>
			  </div>
			</div>
		</div>
	</div>
</div>

<div class="container m-3 d-flex justify-content-center">
	<div class="row">
		<div class="col-sm-12 d-flex justify-content-center justify-content-between m-3">
			 <div><%= link_to "Editer ce gossip", edit_gossip_path(@gossip.id), class: "btn btn-primary" %> </div>
			 <div>
			 	<%= link_to gossip_path(@gossip.id) do %> 
					<a href="<%=gossip_path(@gossip.id) %>"class="btn btn-danger" data-confirm="Alors, tu n'assume pas ce gossip, tu veux le delete ? " data-method="DELETE"> Supprimer ce gossip</a>
				<% end %>
				</div>
		</div>
	</div>
</div>