  	<!-- CONTENT -->

		<div class="row m-3">
			<div class="col-sm-12">
				<h1>Voici le détail du super potin #<%=@gossip.id%> </h1>
			</div>
			<div class="row m-3">
					<div class="card">
					  <div class="card-body">
					    <h5 class="card-title"><%=@gossip.title%> <i class="far fa-comment"></i> </h5>
				    	<blockquote class="blockquote mb-0">
								<% @gossip.tags.each do |tag| %>
				    			<%= link_to tag.title, tag_path(tag.id), :class => "badge badge-success" %>
				    		<% end%>
				      	<p><%= @gossip.content %></p>
				      	<footer class="blockquote-footer">Créé le <%= @gossip.created_at %> <cite title="Source Title">par <i class="fas fa-user-secret"></i> <%= link_to @gossip.user.first_name, user_path(@gossip.user.id)%></cite></footer>
				    	</blockquote>
				  	</div>
					 </div>
					 <div class="col-sm-12 mt-3">
					 <%= link_to "Editer ce gossip", edit_gossip_path(@gossip.id), class: "btn btn-primary" %>					</div>
					</div>
			</div>